body {
	margin: 0;
	font-family: sans-serif;
	line-height: 25px;
}

header {
	background: #E9BC43;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Permanent Marker', cursive;
}

header h1{
	color: white;
	font-size: 55px;
	
}

h2 {
	text-align: center;
	font-size: 35px;
	color: #3BA929;
	margin: 40px; 0 10px;
}

header img {
	border-radius: 150px;
	width: 250px;
	border: 15px solid white;
}



main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

p{
	font-size: 18px;
}

a {
	color: black;
	font-family: 'Walter Turncoat', cursive;
	font-size: 20px;
}
a:hover{
	color: #3BA929;
	text-shadow: 1px 1px 1px;
}

footer {
	background: #E9BC43;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p{
	margin: 0;
}